## 2021 금융 데이터 경진대회 

### 1. 대회 기간

- 접수 : ~ 2021.07.12
- 결과물 제출 : ~2021.09.06(월)

### 2. 관련 링크 및 안내 내용물

- [대회 신청 링크](https://www.findatacontest2021.com/index.php)
- [샘플 데이터 링크](https://www.findatamall.or.kr/fsec/dataProd/generalDataProd.do?cmnx=44&sCharge=charge&sFree=free&sNego=nego&searchType=00&sKeyword=2021%EA%B8%88%EC%9C%B5%EB%8D%B0%EC%9D%B4%ED%84%B0%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C&sTaxonomy=200&sOrderByType=orderByDate)
- [금융데이터 거래소](https://www.findatamall.or.kr/fsec/main/main.do?cmnx=1)

- [팀 분석 내용](https://github.com/RyanKor/financial-data-competition-2021/issues/2)

### 3. 선정 주제

- 동학개미운동에 참여한 신규 고객정보를 토대로 경기 변화에 따른 투자 패턴 예측하기


#### 3-2 예상 Insight

- 경기 회복 & 불황에 따른 고객들의 투자 심리 변화 예측 및 실거래 패턴 예측

- 경기 변화에 따른 금융사들의 신규 금융 상품 개발 제안

### 4. 결과물 도출 일정

- 6월 4째주 : 팀 주제 선정 및 금융 데이터 대회 접수 (완료)
- 7월 1째주 : 환경 설정 및 가공 방향 MD 작성, 사용할 ML 알고리즘 지정 (완료)
- 7월 2째주 ~ 8월 중순 : 결과물 제작
- 8월 4째주 ~ 9월 5일 : 결과물 리뷰
- 9월 6일 : 제출


### 5. 활용 데이터

- 한국투자증권 동학개미운동 신규고객투자정보

- 신한은행 서울시지역단위 ‘소득’, ’지출’, ‘금융자산’ 정보


### 6. 분석 배경

- 제태크의 한 분야인 주식 거래에 관련한 데이터는 사회 초년생인 우리에게 삶에 있어 피와 살이 되는 좋은 정보가 될 것이고

- 코로나 발생을 기점으로 20 ~ 30대의 주식 거래 참여 인원의 증가하면서 기존 주식 거래하는 인원들과 다른 거래 패턴을 가질 것이라 가설을 세움

- 무엇보다 미디어에서 자주 언급되는 빚투 (빚내어 투자) & 영끌 (영혼까지 끌어모아 부동산 투자) 인원이 늘어났다는 것을 자주 볼 수 있는데 신한은행에서 제공하는 서울시 시민 데이터 중 금융 & 부동산 담보 대출 금액과 한국투자증권 동학개미 운동을 엮어 이러한 대출을 통한 투자 비율을 분석할 수 있다는 것을 데이터셋을 통해 확인하게 되었다.(비교 분석하여 대출을 통한 투자 비율을 유추하고자 한다.)

- 최종적으론 가공한 데이터를 토대로 사용자들이 구매하는 주식의 테마 & 카테고리 패턴을 분석할 수 있을 것으로 보이며 19년 대비 20년의 투자 패턴을 미디어 보도 자료와 비교 & 대조하면서 경기 변동에 따른 한국인들의 투자 패턴을 예측할 것으로 보인다.


### 7. 분석 기법

- 과거 데이터를 토대로 미래 데이터 예측을 위해 머신러닝 기법을 사용해 예측 모델을 생성해 동학개미운동 참여자들의 투자 패턴을 파악한다.

- 2020년 동학개미운동 투자자 및 2019년 기존 투자자들의 투자 패턴 비교 및시각화

## Machine Learning Project Cycle (추후 삭제 예정)

1. 문제 정의
2. 머신러닝을 사용하지 않는 방법에 대해 검토
3. 시스템을 설계
4. 사용할 알고리즘을 선택
5. 특징과 정답 데이터, 로그를 설계
6. 데이터를 전처리한다.
7. 학습을 수행하고 파라미터를 튜닝한다.
8. 시스템에 통합한다.

현재 금융데이터 경진대회에서 사용할 데이터는 다행스럽게도 전처리가 되어 있는 것들이다.

주어진 데이터들로 활용해 볼 수 있는 다양한 머신러닝 종류들

- 차원 축소, 고빈도 패턴 마이닝, 이상 탐지

## 프로젝트 시작을 위한 라이브러리 정의

- 동학개미운동 참여자들의 투자 패턴을 파악하기 위해서는 사용자들의 성향 파악을 위한 시각화 툴을 활용하는 것이 필수이다.

- 또한 미래 정보 예측이 결과물에 포함되어야하므로 적절한 머신러닝 알고리즘을 사용하는 것도 중요하다.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

print("Library Working")

Library Working

## 한국투자증권 동학개미 운동 정보 호출

- [동학개미운동 신규 고객 투자 정보 거래소 페이지](https://www.findatamall.or.kr/fsec/dataProd/generalDataProdDetail.do?cmnx=44&goods_id=65be7bde-aec2-11eb-9f58-f220ef21bb88)

- 데이터 가공 전 제공받는 데이터에 포함되는 필드 및 Feature 확인

|필드명|	필드형식	| 필드설명|
| --- | ---- |---- |
|고객번호	|텍스트	|고객번호|
|계좌번호	|텍스트	|계좌번호|
|고객성별구분코드	|텍스트	|고객성별구분코드|
|동일나이군구분코드	|텍스트	|동일나이군구분코드|
|주소	|텍스트	|주소(시도)|
|시군구	|텍스트|	주소(시군구)|
|일자(등록)	|날짜|	고객등록일자|
|일자2	|날짜	|계좌개설일자|
|일자1	|날짜	|주문일자|
|주문시각	|시간	|주문시각|
|최초주문번호	|숫자|	최초주문번호|
|주문번호	|숫자|	주문번호|
|상품번호	|텍스트	|상품번호|
|상품명	|텍스트	|상품명|
|거래소1	|텍스트	|거래소구분코드|
|매도매수구분코드	|텍스트	|매도매수구분코드|
|주문구분코드	|텍스트	|주문구분코드|
|거래소	|텍스트	|한국거래소호가조건코드|
|실주문단가	|숫자	|실주문단가|
|주문수량	|숫자	|주문수량|
|정정취소구분코드	|텍스트	|정정취소구분코드|
|정정확인수량	|숫자	|정정확인수량|
|취소확인수량	|숫자	|취소확인수량|
|총체결건수	|숫자	|총체결건수|
|총체결수량	|숫자	|총체결수량|
|총체결금액	|숫자	|총체결금액|
|자동차이용여부3	|텍스트	|반대매매여부|
|자동차이용여부2	|텍스트	|예약주문여부|
|대출잔액	|텍스트	|대출유형코드|
|일자	|날짜	|대출일자|
|주문증거금율	|숫자	|주문증거금율|
|전일종가	|숫자	|전일종가|
|당일시가	|숫자	|당일시가|
|일중고가	|숫자	|일중고가|
|일중저가	|숫자	|일중저가|
|당일종가	|숫자	|당일종가|
|거래수량	|숫자	|거래수량|
|거래대금	|숫자	|거래대금|
|자동차이용여부1	|텍스트|	상한가여부|
|자동차이용여부	|텍스트	|하한가여부|

In [22]:
# 사용 데이터 2가지 : 한국투자증권 동학개미운동 신규고객투자정보 & 신한은행 서울시지역단위 ‘소득’, ’지출’, ‘금융자산’ 정보
kor_invest = pd.read_excel('./data/2021_hantu.xlsx')
kor_invest.head()

,고객번호,계좌번호,고객성별구분코드,동일나이군구분코드,주소(시도),주소(시군구),고객등록일자,계좌개설일자,주문일자,주문시각,...,주문증거금율,전일종가,당일시가,일중고가,일중저가,당일종가,거래수량,거래대금,상한가여부,하한가여부
0,C0001,A1111,1,10,경기,성남시,20200305,20200306,20200309,93944,...,100,27880,27000,27120,26525,26705,9069475,243062122350,N,N
1,C0001,A1111,1,10,경기,성남시,20200305,20200306,20200309,95206,...,100,3010,2980,2980,2875,2875,68165,197839750,N,N
2,C0001,A1111,1,10,경기,성남시,20200305,20200306,20200309,95225,...,100,8455,8160,8160,7880,7915,404741,3243918150,N,N
3,C0001,A1111,1,10,경기,성남시,20200305,20200306,20200309,103443,...,100,3010,2980,2980,2875,2875,68165,197839750,N,N
4,C0001,A1111,1,10,경기,성남시,20200305,20200306,20200309,103602,...,100,3010,2980,2980,2875,2875,68165,197839750,N,N

## 신한은행 서울시 지역단위 ‘소득’, ’지출’, ‘금융자산’ 정보 호출

|필드명|	필드형식	| 필드설명|
| --- | ---- |---- |
|기준년월	|텍스트	|기준년월|
|도로명	|텍스트|	법정동| 이름|
|법정동코드	|텍스트	|법정동| 코드|
|집계구코드	|텍스트	|집계구 |코드|
|직장인여부	|텍스트	|직장인여부 (여 : 1 , 부 :0)|
|성별	|텍스트	|성별 (남 : 1, 여 :0)|
|연령	|텍스트	|20대, 30대, 40대, 50대, 60대|
|급여	|텍스트	|직장인 급여 입금 금액|
|매출건수	|텍스트	|자영업자 카드 가맹점 매출대금 입금 금액|
|연금	|텍스트	|연금소득자 연금 입금 금액|
|총지출	|텍스트	|총지출금액|
|총수신	|텍스트	|금융자산 합계|
|예금, 적금	|텍스트	|예금, 적금 잔액|
|신탁	|텍스트	|신탁 상품 잔액|
|수익증권	|텍스트	|수익증권(펀드 등) 상품 잔액|
|신용대출건수	|텍스트	|신용대출 잔액|
|담보대출잔액	|텍스트	|담보대출 잔액|
|주택대출	|텍스트	|주택담보대출 잔액|
|전세대출	|텍스트	|전세자금대출 잔액|

In [20]:
pd.options.display.float_format = '{:.2f}'.format
sample = pd.read_excel('./data/shinhanbank.xlsx')
shinhan_bank = sample.drop(["법정동 코드", "집계구 코드"], axis=1)
shinhan_bank.head()

,기준년월,법정동 이름,직장인여부,성별,연령구분,급여,가맹점매출,연금,총지출,총수신,"예금, 적금",신탁,수익증권,신용대출,담보대출,주택대출,전세대출
0,201903,가양동,0,1,20,0.00,15040.03,197.19,717381.88,2928033.66,1616215.04,134101.51,131790.94,210171.03,1247541.19,148058.40,839146.16
1,201903,가양동,1,1,20,2208987.19,0.00,34191.06,2273580.04,7629767.93,3545905.22,233428.46,210623.73,3263905.45,14433922.07,298210.61,13104910.79
2,201903,가양동,0,1,30,0.00,88991.19,5622.18,1057316.16,6258181.73,2495409.47,468659.99,320409.43,1359553.86,7450043.66,2085567.60,2744388.23
3,201903,가양동,1,1,30,3155985.07,14625.45,61748.33,2859349.28,15540335.27,6122613.16,1280626.87,1058514.46,10670116.91,30490601.71,6290247.97,21722256.55
4,201903,가양동,0,1,40,0.00,179426.75,6628.33,1250962.54,8405713.20,3581588.99,497889.46,365778.56,1245419.94,12812664.98,5305322.95,2159960.52