# [2021금융데이터경진대회] 광역시도별 업종별 가맹점 데이터

- [광역시도별 업종별 가맹점 데이터](https://www.findatamall.or.kr/fsec/dataProd/generalDataProdDetail.do?cmnx=44&goods_id=6ff8fda1-b16c-11eb-9f58-f220ef21bb88)
- 데이터 가공 전 제공받는 데이터에 포함되는 필드 및 Feature 확인

|필드명|	필드형식	| 필드설명|
| --- | ---- |---- |
|기준년월	|날짜	|기준년월|
|유입지별	|텍스트	|광역시도명|
|대분류(업종)	|숫자	|업종대분류|
|중분류(업종)	|텍스트	|업종중분류|
|업종구분	|텍스트	|업종소분류|
|신규가맹점수	|숫자	|신규가맹점수|
|해지가맹점수	|숫자	|해지가맹점수|
|매출가맹점수	|숫자	|매출가맹점수|
|카드매출금액	|숫자	|카드매출금액|
|카드매출건수	|숫자	|카드매출건수|
|점당매출금액	|텍스트	|점당매출금액|
|건당매출금액	|숫자	|건당매출금액|

In [3]:
import pandas as pd

shinhan_card = pd.read_excel('../data/shinhancard.xlsx')
shinhan_card.head()

,기준년월,광역시도명,업종대분류,업종중분류,업종소분류,신규가맹점수,해지가맹점수,매출가맹점수,카드매출금액,카드매출건수,점당매출금액,건당매출금액
0,201902,강원,문화레져,동물,동물농장,0,0,8,11947000,417,1493377,28650
1,201902,강원,문화레져,동물,애완동물/용품,5,1,188,251553000,6788,1338046,37058
2,201902,강원,문화레져,동물병원,병원-동물병원,0,0,84,279389000,4016,3326062,69569
3,201902,강원,문화레져,레져,골프장,0,0,77,920424000,9134,11953553,100769
4,201902,강원,문화레져,레져,낚시터,0,0,3,334000,8,111167,41688